@charset "utf-8";

.mode {
    position: absolute;
    margin: 20px;
    padding-top: 3px;
    padding-right: 2px;
    padding-left: 2px;
    right: 0;
    top: 0;
    background-color: rgb(255, 254, 173);
    box-shadow: #3d2507d5 2px 2px 10px;
    border-radius: 8px;
    
}

.mode:hover {
    background-color: #0A56C2;
    transition: 0.6s;
}

svg {
    fill: black;
}

svg:hover {
    fill: white;
    transition: 0.6s;
}